<%= render 'share/errors', model: blog %>

<%= form_with(model: blog, local: true) do |form| %>
  <div class="field">
    <%= form.label tl(:title) %><br />
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :tag_list %><br />
    <%= form.select :tag_list, options_for_select(tags_for_options, blog.tag_list), {}, multiple: true, class: "enable-select2" %>
  </div>

  <div class="field">
    <%= form.label :image %><br />
    <%= form.file_field :image %><br />
    <% if blog.image? %>
      <%= image_tag blog.image.thumb.url, id: 'image_present' %>
    <% else %>
      <%= image_pack_tag 'no_image.png', id: 'image_present' %>
      <%= form.hidden_field :image_cache %>
    <% end %>
    <img class="d-none" id="image_prev" src="#" width="150" height="150">
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.rich_text_area :body %>
  </div>

  <div class="actions my-2">
    <%= form.submit tl(:submit), class: "btn btn-outline-primary my-2" %>
  </div>
<% end %>
