<h1><%= t(".title") %></h1>

<%= search_form_for @q do |f| %>
  <div class="my-2">
    <%= select_tag :tag_list, options_for_select(tags_for_options), multiple: true, class: "enable-select2" %>
  </div>
  <div class="my-2">
    <%= f.search_field :title_cont, placeholder: tl(:title), class: "py-1" %>
  </div>
  <div class="my-2">
    <%= text_field_tag :body, "", placeholder: tl(:body), class: "py-1" %>
  </div>

  <%= submit_tag tl(:search), class: "btn btn-outline-info btn-sm" %>
<% end %>

<%= paginate @blogs %>

<% @blogs.each do |blog| %>
  <div class="my-3">
    <%= img_tag(blog) %>
    <%= link_to blog.title, blog, class: 'h2' %>
    <small class="pl-1">
      by <em><%= blog.user.name %></em>
    </small>
    <p class="mt-2">
      <% blog.tag_list.each do |tag| %>
        <span class="badge badge-primary mr-1 p-2"><%= tags(tag) %></span>
      <% end %>
    </p>
  </div>
<% end %>

<%= paginate @blogs %>

<%= link_to tl(:new), new_blog_path, class: "btn btn-outline-primary my-2" %>
